

:root {
  --mdc-list-list-item-one-line-container-height: 32px;
  --mdc-list-list-item-hover-label-text-color: #2d6879;
  --mdc-list-list-item-focus-label-text-color: white;
  --mdc-list-list-item-selected-container-color: #2d6879;
  --mdc-list-list-item-label-text-color: white;
}
