/* You can add global styles to this file, and also import other style files */

//@import "bootstrap/dist/css/bootstrap.css";

@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/arya-blue/theme.css";
@import '@angular/material/prebuilt-themes/cyan-orange.css';
@import "material.rewrites";

@import "libs/styles/base";

@import "libs/styles/fonts";


body {
  margin: 0;

  font-family: "Cruinn", sans-serif !important;
}

* {
  font-family: "Cruinn", sans-serif !important;
}

