/* You can add global styles to this file, and also import other style files */

@import "bootstrap/dist/css/bootstrap-grid.css";
@import "primeicons/primeicons.css";
@import '@angular/material/prebuilt-themes/cyan-orange.css';
@import "material.rewrites";
@import "libs/styles/material";

@import "reveal.js/dist/reveal.css";
@import "reveal.js/dist/theme/black.css";

@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";

@import "libs/styles/base";

@import "libs/styles/fonts";


body {
  margin: 0;

  font-family: sans-serif;
}

html.my-app-dark body {
  background-color: #000;
}

html:not(.my-app-dark) body {
  background-color: #fff;
}

.highlighted-text {
  background-color: yellow;
  color: black;
}

.hide {
  transition: opacity .5s;
  opacity: 0;
}

//REVEAL
.reveal {
  .progress {
    color: gray;

    height: 15px;
  }
}
