@if (backendReady) {
  <p-tabMenu class="page__tab-menu" [model]="pages" [activeItem]="activePage" (activeItemChange)="onChangeTabs($event)">

    <ng-template pTemplate="item" let-item>
      @if (item.routerLink) {
        <a [routerLink]="item.routerLink" class="p-menuitem-link">
          <span [class]="item.icon"></span>
          <span class="ml-2">
                    {{ item.label }}
                </span>
        </a>
      } @else {
        {{ item.label }}
      }

    </ng-template>
  </p-tabMenu>
  <div class="page__wrapper">
    <div class="page__header">
      <div class="page__header-search">
        <lyri-search-feature />
      </div>
      <div class="page__header-controls">
        @if (mainCompService.pageHeaderControlsContainer) {
          <ng-container *ngTemplateOutlet="mainCompService.pageHeaderControlsContainer"></ng-container>
        }
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>

} @else {
  <div class="page__loading-wrapper">
    <p-progressSpinner></p-progressSpinner>
  </div>
}




