:host {
  display: block;
  width: 100%;
  height: 100%;

  --menu-width: 64px;
  --sidebar-width: 400px;

  --header-height: 36px;
}

.page {

  &__wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
  }

  &__menu {
    display: flex;
    flex-direction: column;

    width: var(--menu-width);
    max-width: var(--menu-width);
    min-width: var(--menu-width);

    &-item {
      display: flex;
      flex-direction: column;
      font-size: 10px;
      gap: 4px;
      width: 100%;
      height: var(--menu-width);
      justify-content: center;
      align-items: center;

      cursor: pointer;
      transition: background-color .2s ease-in-out;

      &--active {
        background-color: #0D99FF;
        color: white;
      }


      &:not(.page__menu-item--disabled):hover {
        background-color: #92cdff;
        color: #4a4a4a;
      }


      &--disabled {
        cursor: not-allowed;
        background-color: inherit;
        color: #4a4a4a;
      }
    }
  }

  &__content {
    width: calc(100% - #{var(--menu-width)} - #{var(--sidebar-width)});
    height: 100%;
    padding: 12px 0;
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;

    min-width: var(--sidebar-width);
    width: var(--sidebar-width);
    max-width: var(--sidebar-width);
  }

  &__loading-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    padding: 0 12px;
  }

  &__header-search {
    max-width: 700px;
    width: 700px;
  }

  &__header-controls {
    display: flex;
    align-items: center;
    justify-content: right;
  }
}
