:host {
  display: block;
  padding: 32px;
}

.casting {
  &__wrapper {

  }

  &__header {

    &-title {
      justify-content: flex-start;
      font-size: 32px;
    }

    &-number {
      justify-content: flex-end;
      font-size: 32px;
    }
  }

  &__content {
    justify-content: center;
    align-items: center;
    font-size: 48px;
  }
}
