@if (showingContent()) {

  <div class="flex-column casting__wrapper" #container>
    <div class="flex casting__header">
      <div class="flex-50 casting__header-title">
        {{ selectedLyric()?.sectionTitle }}
      </div>
      <div class="flex-50 casting__header-number">
        [{{ selectedSong()?.number }}]
      </div>
    </div>
    <!--    <div class="flex-column casting__content"  [fittext]="true" [maxFontSize]="130" [container]="container">-->
    <!--      @for (line of lines(); track line) {-->
    <!--        <div>{{ line }}</div>-->
    <!--      }-->
    <!--    </div>-->

    <div class="flex-column casting__content" fittext [maxFontSize]="110" >

<!--      <fit-text height="80%" [maxFontSize]="130" style="justify-content: center; align-items: center;">-->
        @for (line of lines(); track line) {

          <div>{{ line }}</div>
        }
<!--      </fit-text>-->
    </div>


  </div>

}

