
:host {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.settings {
  &__appearance {
    display: flex;
    flex-direction: column;
    gap: 32px;

    padding-top: 16px;
  }

  &__field {
    display: grid;
    grid-template-columns: 180px minmax(0, 1fr);
    align-items: center;
    column-gap: 16px;
  }

  &__displays {
    display: flex;

    gap: 16px;
    border: 1px solid #2d6879;

    padding: 24px;
  }

  &__display-item {
    height: 100%;
  }


  &__field-options {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
