# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules
.npm-node-modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.nx/cache
.nx/workspace-data

.angular
.vercel
assets/complete-jsons/**/*
assets/raw/**/*
assets/sqlRaw/**/*
.vscode/**/*
# llm-docs/**/*
temp-scripts/**/*

data

tools/publish-release.ps1
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

sync_config.jsonc

screenshots/*
temp/*
environments/*
build/*
