<!--{{song() | json}}-->
<ng-scrollbar>
  <div class="song-container">
    @for (lyric of lyrics(); track lyric.uniqId) {
      <div class="lyric-item" (click)="onLyricSelect(lyric)">
        <div class="lyric-item__header" #headerRef>{{ lyric.sectionTitle }}</div>
        <div class="lyric-item__content">
          @for (line of lyric.lines; track line) {
            <div class="lyric-item__line" [innerHTML]="line">
            </div>
          }

        </div>
      </div>
    }
  </div>

</ng-scrollbar>
