<div  class="page-wrapper">

  <div class="header">
    <div class="header__title">Главная</div>

    <button pButton (click)="onOpenWindow()">open new window</button>
  </div>


<div class="content">
  <div class="block" style="width: 400px">
    <ul>
      @for (item of songBooks$ | async; track item) {
        <li class="row" [class.selected]="(selectedBook$ | async)?.fileKey === item.fileKey"
            (click)="onBookClick(item)">{{ item.humanName }}
        </li>
      }
    </ul>

  </div>
  <div class="block" style="width: 500px">
    @if (selectedBook$ | async; as selectedBook) {

      <h3>{{ selectedBook.humanName }}</h3>

      <ul>
        @for (song of songs$ | async; track song.number) {
          <li (click)="onSongClick(song)" class="row"
              [class.selected]="(selectedSong$ | async)?.number === song.number">
            <b>{{ song.number }}</b> - {{ song.title }}
          </li>
        }
      </ul>

    }
  </div>
  <div class="block" style="width: 100%">
    @if (selectedFullSong$ | async; as selectedSong) {
      <p-card>
        <ng-template pTemplate="header">
          <h3>{{ selectedSong.title }}</h3>
        </ng-template>
        <pre>{{ selectedSong | json }}</pre>

      </p-card>
    }
  </div>
</div>

</div>

